#默认使用配置
spring:
  profiles:
    active: dev

#公共配置与profiles选择无关  mapperLocations指的路径是src/main/resources
mybatis:
  mapperLocations:  classpath*:mapper/*.xml
  configuration:
  #返回map value为空字段显示key(原mybatis默认:call-setters-on-nulls=false)
      call-setters-on-nulls: true


---

server:
#端口号
  port: 8080
#  session:
#    timeout: 6000

#开发配置
spring:
  profiles: dev

  datasource:
    url: jdbc:mysql://localhost:3306/ssm_face?useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true&&serverTimezone=Asia/Shanghai
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver


---

#在控制台打印sql语句
logging:
  level:
     com.maohacker.dao: DEBUG
     mapper: DEBUG
